@{
    ViewBag.Title = "Home Page";
    var UserName = (string)HttpContext.Current.Session["UserName"];
}

<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url(../../Content/assets/img/Banner/5.jpg)">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">@UserName</h1>
        <h2 class="h5 text-white-op animated zoomIn">Empresa:</h2>
        <h2 class="h5 text-white-op animated zoomIn">Sucursal:</h2>
    </div>
</div>
<!-- END Page Header -->
<!-- Stats -->
<div class="content bg-white border-b">
    <div class="row items-push text-uppercase">
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Grafica1</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Hoy</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html">300</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Grafica2</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Mes</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html">8,790</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Grafica3</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Todas</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html">$ 93,880</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Grafica4</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Año</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html">$ 270</a>
        </div>
    </div>
</div>
<!-- END Stats -->
<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- Main Dashboard Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Grafica General</h3>
                </div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
                    <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard.js), for more examples you can check out http://www.chartjs.org/docs/ -->
                    <div style="height: 374px;"><canvas class="js-dash-chartjs-lines"></canvas></div>
                </div>
                <div class="block-content text-center">
                    <div class="row items-push text-center">
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-graph fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 205 dato 1</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-users fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 25% dato 2</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 visible-lg">
                            <div class="push-10"><i class="si si-star fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 10 dato 3</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 visible-lg">
                            <div class="push-10"><i class="si si-share fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">+ 35 dato 4</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Main Dashboard Chart -->
        </div>
    </div>
</div>
<!-- END Page Content -->

@section Scripts {

    <script src="@Url.Content("~/Content/assets/js/plugins/slick/slick.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/plugins/chartjs/Chart.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/pages/base_pages_dashboard.js")"></script>
    
}
