@model GrupoThera.Entities.Models.AreaTecnica.ATModel
@{
    ViewBag.Title = "ATOTPNewNotes";
    var id = Model.otpreliminar.otPreliminarId;
}

<div class="block-content">

    @using (Ajax.BeginForm("newNoteOTPreliminar", "AreaTecnica",
                                                                            new AjaxOptions
                                                                            {
                                                                                InsertionMode = InsertionMode.Replace,
                                                                                UpdateTargetId = "divNotesOTPreliminar",
                                                                                OnSuccess = "SuccessOTPNewNote",
                                                                                OnFailure = "FailureOTPNewNote",
                                                                                OnBegin = "BeginOTPNewNote",
                                                                            }))
    {
        <div class="form-group">
            @Html.HiddenFor(model => model.otpreliminar.noteId)
            <div class="col-xs-12">
                <div class="form-material floating">
                    @Html.TextAreaFor(model => model.note.content, new { @id = "txtNewOTP", @rows = 7, @cols = 10, placeholder = "Contenido de Nueva Nota", @class = "form-control" })
                </div>
                <div class="help-block text-right ">La nota creada sera relacionada con la OT Preliminar #@id</div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button class="btn btn-sm btn-info" type="submit"><i class="fa fa-send push-5-r"></i> Crear Nota</button>
                </div>
            </div>
    }

</div>
