@model GrupoThera.Entities.Models.General.DashboardModel
@{
    ViewBag.Title = "General Menu";
    var isAllmightie = false;

    if (Model != null && Model.priviledgesList.Contains("Developer"))
    {
        isAllmightie = true;
    }
    else
    {
        isAllmightie = false;
    }
}

<ul class="nav-main">
    <li>
        <a href="@(Url.Action("Index", "Home"))"><i class="si si-home"></i><span class="sidebar-mini-hide">Home</span></a>
    </li>
    <li class="nav-main-heading"><span class="sidebar-mini-hide">Modulos</span></li>

    <li class="open">
        <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-badge"></i><span class="sidebar-mini-hide">UI Elements</span></a>
        <ul>
            <li>
                @if ((Model != null &&  Model.priviledgesList.Contains("Creator") ) || isAllmightie)
                {
                    <a href="@(Url.Action("Index", "Home"))">Other</a>
                }
                else
                {
                    <a style="color:#ff6b6b;" class="linkDisabled" href="">Otherasdsa</a>
                }
            </li>
        </ul>
    </li>
</ul> 