@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="content bg-gray-lighter">
    <div class="row">
        <div class="col-md-3">
            <img src="~/Content/assets/img/avatars/Error.jpg" style="height:200px; width:200px" />
        </div>
        <div class="col-md-9">
            <h2>Lo siento algo salio mal.</h2>
            <br />
            <h4>
                La aplicacion encontro un error y no pudo completar la requisicion.<br />
                Si el problema persiste, porfavor reportar el problema y mencionar el mensaje de error.
            </h4>
            <div>
                @{
                    var subject = "Controller: " + Model.ControllerName + " Action: " + Model.ActionName + ". " + Model.Exception;
                }
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        Tecnical details:
        <br />
        <br />
        @Model.Exception
    </div>
</div>

