
@{
    ViewBag.Title = "NuevaCotizacionComponentes";
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label" for="val-username">Username<span class="text-danger">*</span></label>
        <div class="col-md-7">
            <input class="form-control" type="text" id="val-username" name="val-username" placeholder="Choose a nice username..">
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="val-username"> <span class="text-danger"> </span></label>
    <div class="col-md-7">
        <input class="btn btn-sm btn-primary" type="submit" value="Submit">  
    </div>
     
</div>

