@model GrupoThera.Entities.Models.Cotizacion.CotizacionSearch
@{
    ViewBag.Title = "SearchCotizacionItem";
}
<table class="table table-hover table-vcenter">
    <tbody>
        <tr>
            <td class="font-w600 text-center" style="width: 80px;">#0001</td>
            <td class="hidden-xs hidden-sm hidden-md text-center" style="width: 100px;">
                <span class="label label-success">Abierta</span>
            </td>
            <td>
                <a class="font-w600" data-toggle="modal" data-target="#modal-ticket" href="#">Comentarios de la cotización</a>
                <div class="text-muted">
                    <em>19 horas atras</em> por <a href="javascript:void(0)">Mariano Ortiz</a>
                </div>
            </td>
            <td class="hidden-xs hidden-sm hidden-md text-muted" style="width: 120px;">
                <em>Cliente: Razon Social</em>
            </td>
            <td class="hidden-xs hidden-sm hidden-md text-center" style="width: 60px;">
                <div class="btn-group">
                    <button title="" class="btn btn-xs btn-default" type="button" data-original-title="Edicion Item" data-toggle="tooltip"><i class="fa fa-edit"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


